*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100vw;
    height: 50px;
    background-color: black;
    
    
}

.icone-iniziali{
    display: flex;
    justify-content:flex-end;
    
   
}
.icon{
    padding: .3rem;
    margin-right: .5rem;
    margin-top: 1rem;
    background-color:grey;
    border-radius: .3em;
    
}


.final-icon{
    background-color: rgb(40, 39, 39);
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;

}
.footer-icon{
    
    display: flex;
    justify-content:space-between;
    justify-items: center;
    flex-wrap: nowrap;
    align-items: center;
}

.first{
    flex: 0 0 10%; 
    margin-right: 11rem;
    
}
.second{
    flex: 0 1 40%;

}
.third{
    flex: 0 0 15%;
    justify-content:flex-end;
    color: red;
    font-weight: bold;
    margin-left:10rem;
}
.endmeet{
    background-color: rgba(97, 95, 95, 0.369);
    border:28px solid rgba(97, 95, 95, 0.369);
}

.mini-icon{
    font-size:2rem;
    
}
.shared{
    color: rgb(48, 165, 48);
}


.box-img{
   flex: 1 1 13%;
   position: relative;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:.2rem;
    height: 100%;
    overflow-y: auto;
}
.box-img img{
    width: 100%;
}

main{
    height: calc(100vh - 50px - 70px);
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color:black;  
}

.pinco{
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    background-color:rgba(3, 3, 3, 0.369);
    padding: 0.2rem;

}